:root {
    --cor-fundo: #0f172a;
    --cor-primaria: #7c3aed;
    --cor-primaria-hover: #a78bfa;
    --cor-texto: #f9fafb;
    --cor-subtexto: #94a3b8;
    --cor-borda: #334155;
    --cor-placeholder: #64748b;
    --cor-fundo-card: #1e293b;
    --espacamento-padrao: 1rem;
    --borda-arredondada: 0.5rem;
    --borda-arredondada-grande: 1rem;
    --sombra-fraca: 0 10px 25px rgba(0, 0, 0, 0.25);
  }
  
  body:has(#switch-tema:checked) {
    --cor-fundo: #f9fafb;
    --cor-primaria: #7c3aed;
    --cor-primaria-hover: #5b21b6;
    --cor-texto: #1f2937;
    --cor-subtexto: #6b7280;
    --cor-borda: #d1d5db;
    --cor-placeholder: #9ca3af;
    --cor-fundo-card: #ffffff;
    --sombra-fraca: 0 10px 25px rgba(0, 0, 0, 0.05);
  }


form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

}

.campo {
    position: relative;
}

.campo i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-placeholder);
    font-size: 1.25rem;
}

.campo input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border-radius: var(--borda-arredondada);
    border: 1px solid var(--cor-texto);
    outline: none;
    transition: border-color 0.2s ease;

}

.campo input:focus {
    border-color: var(--cor-primaria);
}

<<<<<<< HEAD
=======
.esqueci-senha a {
    text-align: center;
    display: block;
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--cor-primaria);
    transition: color 0.2s ease;
}

.esqueci-senha:hover  a{
    color: var(--cor-subtexto);
    
}

>>>>>>> b3d2290 (criação da tag a e sua estilização)
button {
    background-color: var(--cor-primaria);
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: var(--borda-arredondada);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--cor-primaria-hover);
}

